InvoicExpress.Net/I.Accounts.Update.g.xsd

<?xml version="1.0" encoding="utf-16"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="account"><xs:complexType><xs:sequence><xs:element name="organization_name" type="xs:string" /><xs:element name="fiscal_id" type="xs:unsignedInt" /><xs:element name="address" type="xs:string" /><xs:element name="postal_code" type="xs:string" /><xs:element name="city" type="xs:string" /><xs:element name="email" type="xs:string" /></xs:sequence></xs:complexType></xs:element></xs:schema>