InvoicExpress.Net/I.Accounts.Create.g.xsd

<?xml version="1.0" encoding="utf-16"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="account"><xs:complexType><xs:sequence><xs:element name="first_name" type="xs:string" /><xs:element name="last_name" type="xs:string" /><xs:element name="organization_name" type="xs:string" /><xs:element name="phone" type="xs:long" /><xs:element name="email" type="xs:string" /><xs:element name="password" type="xs:string" /><xs:element name="fiscal_id" type="xs:unsignedInt" /><xs:element name="tax_country" type="xs:unsignedByte" /><xs:element name="language" type="xs:string" /><xs:element name="terms" type="xs:unsignedByte" /></xs:sequence></xs:complexType></xs:element></xs:schema>