InvoicExpress.Net/I.CreditNotes.EmailDocument.g.xsd

<?xml version="1.0" encoding="utf-16"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="message"><xs:complexType><xs:sequence><xs:element name="client"><xs:complexType><xs:sequence><xs:element name="email" type="xs:string" /><xs:element name="save" type="xs:unsignedByte" /></xs:sequence></xs:complexType></xs:element><xs:element name="subject" type="xs:string" /><xs:element name="body" type="xs:string" /><xs:element name="cc" type="xs:string" /><xs:element name="bcc" type="xs:string" /><xs:element name="logo" type="xs:unsignedByte" /></xs:sequence></xs:complexType></xs:element></xs:schema>