InvoicExpress.Net/I.Invoices.PartialPayment.g.xsd

<?xml version="1.0" encoding="utf-16"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="partial_payment"><xs:complexType><xs:sequence><xs:element name="payment_mechanism" type="xs:string" /><xs:element name="note" type="xs:string" /><xs:element name="serie" type="xs:string" /><xs:element name="amount" type="xs:string" /><xs:element name="payment_date" type="xs:string" /></xs:sequence></xs:complexType></xs:element></xs:schema>