InvoicExpress.Net/R.Accounts.Get.g.xsd

<?xml version="1.0" encoding="utf-16"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="account"><xs:complexType><xs:sequence><xs:element name="organization_name" type="xs:string" /><xs:element name="fiscal_id" type="xs:unsignedInt" /><xs:element name="email" type="xs:string" /><xs:element name="state" type="xs:string" /><xs:element name="at_configured"><xs:complexType><xs:simpleContent><xs:extension base="xs:boolean"><xs:attribute name="Type" type="xs:string" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>