InvoicExpress.Net/R.Accounts.Create.g.xsd

<?xml version="1.0" encoding="utf-16"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="account"><xs:complexType><xs:sequence><xs:element name="id" type="xs:string" /><xs:element name="name" type="xs:string" /><xs:element name="url" type="xs:string" /><xs:element name="api_key" type="xs:string" /><xs:element name="state" type="xs:string" /></xs:sequence></xs:complexType></xs:element></xs:schema>