InvoicExpress.Net/R.Clients.Get.g.xsd

<?xml version="1.0" encoding="utf-16"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="client"><xs:complexType><xs:sequence><xs:element name="id" type="xs:string" /><xs:element name="code" type="xs:string" /><xs:element name="language" type="xs:string" /><xs:element name="name" type="xs:string" /><xs:element name="email" type="xs:string" /><xs:element name="address" type="xs:string" /><xs:element name="city" type="xs:string" /><xs:element name="postal_code" type="xs:string" /><xs:element name="fiscal_id" type="xs:unsignedInt" /><xs:element name="website" type="xs:string" /><xs:element name="country" type="xs:string" /><xs:element name="phone" type="xs:unsignedInt" /><xs:element name="fax" type="xs:unsignedInt" /><xs:element name="preferred_contact"><xs:complexType><xs:sequence><xs:element name="name" type="xs:string" /><xs:element name="email" type="xs:string" /><xs:element name="phone" type="xs:unsignedInt" /></xs:sequence></xs:complexType></xs:element><xs:element name="observations" type="xs:string" /><xs:element name="open_account_link" type="xs:string" /><xs:element name="send_options" type="xs:unsignedByte" /></xs:sequence></xs:complexType></xs:element></xs:schema>