InvoicExpress.Net/R.Invoices.ChangeState.g.xsd

<?xml version="1.0" encoding="utf-16"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="invoice"><xs:complexType><xs:sequence><xs:element name="state" type="xs:string" /><xs:element name="message" type="xs:string" /></xs:sequence></xs:complexType></xs:element></xs:schema>