InvoicExpress.Net/R.Items.List.g.xsd

<?xml version="1.0" encoding="utf-16"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="items"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" name="item"><xs:complexType><xs:sequence><xs:element name="id" type="xs:string" /><xs:element name="name" type="xs:string" /><xs:element name="description" type="xs:string" /><xs:element name="unit_price" type="xs:decimal" /><xs:element name="unit" type="xs:string" /><xs:element name="tax"><xs:complexType><xs:sequence><xs:element name="name" type="xs:string" /><xs:element name="value" type="xs:decimal" /></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>