InvoiceXpressDotNet/InvoiceXpress.xsd

<?xml version="1.0" encoding="Windows-1252"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Class">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="NestedClass">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Method">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element name="UrlParms">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Param">
                            <xs:complexType>
                              <xs:attribute name="Index" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="Name" type="xs:string" use="required" />
                              <xs:attribute name="Type" type="xs:string" use="required" />
                              <xs:attribute name="DefaultValue" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                      <xs:unique name="UK_UrlParmsIndex">
                        <xs:selector xpath="Param" />
                        <xs:field xpath="@Index" />
                      </xs:unique>
                      <xs:unique name="UK_UrlParmsName">
                        <xs:selector xpath="Param" />
                        <xs:field xpath="@Name" />
                      </xs:unique>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="HttpMethod" type="xs:string" use="required" />
                  <xs:attribute name="Url" type="xs:string" use="required" />
                  <xs:attribute name="ApiUrl" type="xs:string" use="required" />
                  <xs:attribute name="SucessCode" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="InputClass" type="xs:string" use="optional" />
                  <xs:attribute name="ReturnClass" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="ApiUrl" type="xs:string" use="optional" />
          </xs:complexType>
          <xs:unique name="UK_MethodName">
            <xs:selector xpath="Method" />
            <xs:field xpath="@Name" />
          </xs:unique>
        </xs:element>
        <xs:element name="Types">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Type">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Property">
                      <xs:complexType>
                        <xs:attribute name="XmlName" type="xs:string" use="required" />
                        <xs:attribute name="XmlType" type="xs:string" use="optional" />
                        <xs:attribute name="Name" type="xs:string" use="required" />
                        <xs:attribute name="Type" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="XmlName" type="xs:string" use="required" />
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="TypeAttribute" type="xs:string" use="optional" />
                </xs:complexType>
                <xs:unique name="UK_Property">
                  <xs:selector xpath="Property" />
                  <xs:field xpath="@XmlName" />
                </xs:unique>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
          <xs:unique name="UK_TypesName">
            <xs:selector xpath="Type" />
            <xs:field xpath="@Name" />
          </xs:unique>
        </xs:element>
        <xs:element name="Enums">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Enum">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Value">
                      <xs:complexType>
                        <xs:attribute name="Name" type="xs:string" use="required" />
                        <xs:attribute name="XmlName" type="xs:string" use="required" />
                        <xs:attribute name="Description" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                </xs:complexType>
                <xs:unique name="UK_EnumValueName">
                  <xs:selector xpath="Value" />
                  <xs:field xpath="@Name" />
                </xs:unique>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
          <xs:unique name="UK_EnumName">
            <xs:selector xpath="Enum" />
            <xs:field xpath="@Name" />
          </xs:unique>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Type" type="xs:string" use="required" />
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="NameSpace" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>